// Mixins Here
//Media Query for Phone viewpoint
@phone: ~"(max-width: 500px) ";

.button-mixin(@flex, @justify,@border-radius,@align,@width,@height,
    @background,@color,@border,@cursor,@font-size) {
	display: @flex;
	justify-content: @justify;
	border-radius: @border-radius;
	align-items: @align;
	width: @width;
	height: @height;
	background: @background;
	color: @color;
	border: @border;
	cursor: @cursor;
	font-size: @font-size;

	&:hover {
		background: lighten(@background, 99%);
		color: darken(@color, 99%);
	}
	&:active {
		box-shadow: 0 5px #666;
		transform: translateY(4px);
	}
}

.btn {
	.button-mixin(flex,center,4px,center,30%,13%,black,white, 1px solid black,
        pointer, 1.75rem);
}
@media @phone {
	.btn {
		padding-top: 4%;
		padding-bottom: 4%;
		width: 100%;
	}
}
